* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.page-wrapper {
        overflow-x: hidden;    
        position: relative;
         display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

:root {
  /* Cores Principais (Identidade) */
  --azul-pao: rgb(0, 56, 117);          /* Azul oficial do logo e cabeçalhos */
  --azul-claro: rgb(0, 114, 206);        /* Azul das quadras e botões de ação */
  --texto-principal: rgb(50, 50, 50);    /* Cor padrão para parágrafos e textos longos */
  --branco-puro: rgb(255, 255, 255);     /* Para textos sobre fundos escuros */
  --cinza-claro: #f5f5f5; /* Backgorund em fundos de seção */
  --cor-preto: #333333;


  /* Cores de Detalhe e Tradição (130 Anos) */
  --dourado-frio: rgb(197, 168, 115);    /* Cor dos ícones e selo comemorativo  */
  --fundo-off-white: rgb(248, 247, 242); /* Fundo suave para não cansar a vista */
  --azul-aco-divisor: rgb(165, 181, 201);/* Cor para linhas e bordas de separação */
  --azul-marinho-profundo: rgb(15, 35, 70);/* Usado em ícones de serviços */
  --cor-azul-escuro: #004a99; /* Hover de cards azul-pao */
  --cor-laranja-hover: #e65c00; /* Hover para botões laranjas */


  /* Cores de Inovação (Hub e Modernidade) */
  --rosa-hub: rgb(231, 46, 114);         /* Para seções modernas e áreas de convivência */
  --verde-agua-hub: rgb(0, 168, 176);    /* Ótimo para destacar cursos de tecnologia */
   --verde-agua: #00d1d3;  /* Mesma cor aqua azul do site oficial, para dar um destaque nos hovers */
   --azul-footer: #006F9A; /* Mesma cor do footer do site oficial */
  --laranja-alerta: rgb(243, 115, 33);    /* Para sinalizações ou botões de "Doe Agora" */
  --amarelo-hub: rgb(255, 212, 0);       /* Destaque para cursos de gastronomia */


  /* Sombras para cards */
  --sombra-leve: 0 2px 8px rgba(0, 0, 0, 0.1);
  --sombra-media: 0 4px 12px rgba(0, 0, 0, 0.15);
  --sombra-forte: 0 6px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

p {
    color: var(--texto-principal);
}

.nav-social {
    height: 7vh;
    display: flex;
    background-color: var(--azul-pao);
    align-items: center;
}

.nav-social nav {
    position: absolute;
    right: 3rem;
}

.nav-social nav a{
    margin-left: 16px;
    font-size: 18px;
    color: var(--branco-puro);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--fundo-off-white); 
    height: 14vh;
    position: relative;
}

.logo img {
    height: 50px;
    width: auto;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    background: var(--azul-footer);
    width: 28px;
    height: 3px;
    margin: 4px;
    transition: 0.3s;
    border: 1px solid transparent;  
    border-radius: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 32px;
    font-weight: bold;
    font-size: 20px;
}

.nav-list a {
    color: var(--azul-pao);
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
}

.nav-list a:hover {
    color: var(--azul-claro);
}

footer {
    background: var(--azul-footer);
    padding-top: 8rem;
    padding-bottom: 4rem;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
}

.logo-footer img {
    height: 100px;
} 

.adress-footer{
    color: #fff;
    line-height: 2.5rem;
}

.adress-footer p {
    color: #fff;
}

.adress-footer a {
    color: #fff;
}

.copyright {
    color: #fff;
    text-align: center;
    margin-top: 60px;
}

@media (max-width: 1160px) {
    .footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
    
}


@media (max-width: 999px) {
    .nav-list {
       position: absolute;
        top: 100%;
        right: 0;
        background: var(--fundo-off-white);
        height: 15vh;
        width: 100vw;
        flex-direction: row;
        align-items: center; /* Eixo muda quando coluna  */
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border: 1px solid transparent;
        border-radius: 0 0 0 25px ;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        font-size: 1rem;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
        transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-4px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-2px, -6px);
}

@media (max-width: 855px) {
    .nav-list {
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--fundo-off-white);
        height: 50vh;
        width: 100vw;
        flex-direction: column;
        align-items: center; /* Eixo muda quando coluna  */
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border: 1px solid transparent;
        border-radius: 0 0 0 25px ;
    }

    .logo img {
    height: 40px;
}

}

@media (max-width: 769px) {
    .nav-social nav {
        position: static;
        display: flex;
        width: 100%;
        right: inherit;
        justify-content: space-around;
    }

    .info-grid {
        flex-wrap: wrap;
    }
}